.acf-field-object-wizard-proceed,
.acf-field-object-wizard-step {
	.acf-field-setting-name {
		display: none;
	}
}
.acf-wizard-prefill-table {
	td.field {
		width:30%;
	}
	td.value {
		width:70%;
	}
	td.remove {
		vertical-align: middle;
	}
	tr:nth-last-of-type(2) {
		td.remove {
			a {
				display: none;
			}
		}
	}
}
