@import "mixins/index";
@import "variables/index";

.welcome-panel {
	.postbox {
		margin-bottom: 0;
		.inside.acf-welcome-panel-fields {
			padding: 0;
			margin: 0;
		}
	}
	.acf-form-submit {
		display: flex;
		justify-content:flex-end;
		padding: 10px;
		border-top: 1px solid wp-color(gray-5);
		background: wp-color(gray-0);
	}
}
